/* ----- / GENERAL STYLES / -----*/

:root {
    --cherry: #a01d2b;
    --quartz: #c55b71;
    --sky: #9ab0ca;
    --sea: #4c73a3;
    --chocolate: #3d332f;
    --cream: #e9ddd5;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Mathilde';
    src: local('Mathilde'), url(../assets/fonts/mathilde.otf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mathilde';
    font-size: 1rem;
    background-color: var(--cream)
}

.container {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0px;
}

.subtitle {
    text-align: center;
    font-weight: 400;
    color: var(--cherry);
    margin-bottom: 1.5rem;
    font-size: 7rem;
}

/* ----- / HEADER  / -----*/

header {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(197, 91, 112, 0.6) 0%, rgba(155, 176, 202, 0.6) 100%), url(../assets//images/PaintBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head {
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--cream);
}

.title {
    font-size: 13rem;
    margin-bottom: 0.5rem;
}

.copy {
    font-size: 3rem;
}

.hamburger {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgb(0, 0, 0);
    background-color: var(--cherry);
}

.navigation__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(-60deg, rgba(197, 91, 112, .5) 0%, rgba(155, 176, 202, .5) 100%), url(../assets//images/photo-1616169158811-6144c62622f0.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 6px var(--chocolate);
    transition: transform .5s ease-in-out; 
    transform: translate(110%);
}

.navigation__menu a {
    color: var(--cherry);
    text-decoration: none;
    font-size: 4rem;
}

.navigation__menu a:hover {
    color: var(--cream);
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bolder;
}

/* ----- / ABOUT ME  / -----*/

.aboutMe {
    min-height: 100vh;
}

.about__Container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.about__Container img {
    width: 40vw;
    height: 65vh;
}

.about__Info {
    width: 40vw;
    font-size: 2.5rem;
    text-align: justify;
}

.about__category {
    margin-bottom: 10px;
    color: var(--cherry);
}

.about__category--number {
    display: inline-block;
    background-image: linear-gradient(to top, #c55b71 0%, #9ab0ca 100%);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    font-weight: bolder;
    color: var(--cream);
    line-height: 2rem;
}

/* ----- / PORTFOLIO  / -----*/

.portfolio {
    background-color: var(--sky);
    background-image: url(../assets/images/texture_paint.png);
    min-height: 100vh;
}

.gallery__Container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery__Container img {
    width: 25vw;
    height: 25vh;
    margin: 1rem;
    border-radius: 10%;
    border: var(--cherry) 5px solid;
    box-shadow: 2px 2px 8px var(--chocolate);
    cursor: pointer;
}